apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: nacos-pod-monitor
  namespace: monitoring # 监控命名空间
  labels:
    app: nacos
spec:
  selector:
    matchLabels:
      app: nacos # 与Pod标签匹配
  podMetricsEndpoints:
    - port: "http" # 与Pod容器端口名称匹配
      path: /nacos/actuator/prometheus
      interval: 30s
      # 添加lable
      relabelings:
        - sourceLabels: [__address__]
          targetLabel: app
          replacement: "nacos"
  namespaceSelector:
    matchNames:
      - default # Nacos所在的命名空间
