version: '3.8'
services:
  mysql:
    image: mysql:5.7.44
    container_name: mysql5.7
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"  # 可选，允许空密码（仅在开发环境中使用）
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - mysql
volumes:
  mysql_data: {
    driver: local
  }
networks:
  mysql:
    driver: bridge

    

