version: "3.8"
services:
  nacos:
    image: nacos/nacos-server:v2.5.1
    container_name: nacos-standalone-mysql
    environment:
    - PREFER_HOST_MODE=hostname
    - MODE=standalone
    - SPRING_DATASOURCE_PLATFORM=mysql
    - MYSQL_SERVICE_HOST=172.16.0.28
    - MYSQL_SERVICE_DB_NAME=nacos
    - MYSQL_SERVICE_PORT=3306
    - MYSQL_SERVICE_USER=nacos
    - MYSQL_SERVICE_PASSWORD=nacos
    - MYSQL_SERVICE_DB_PARAM=characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    - NACOS_AUTH_IDENTITY_KEY=2222
    - NACOS_AUTH_IDENTITY_VALUE=2xxx
    - NACOS_AUTH_TOKEN=SecretKey012345678901234567890123456789012345678901234567890123456789
    volumes:
      - ./standalone-logs/:/home/nacos/logs
    ports:
      - "8848:8848"
      - "9848:9848"
    restart: always

