apiVersion: 1
groups:
    - orgId: 1
      name: 1m
      folder: "11"
      interval: 1m
      rules:
        - uid: ae3bssun9gwzkb
          title: alert rules
          condition: B
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: be3bh3wscgsg0f
              model:
                disableTextWrap: false
                editorMode: builder
                expr: absent(ikuai_iface_info{id="iface/adslct", internet="PPPOE"}) OR on() vector(0)
                fullMetaSearch: false
                includeNullMetadata: true
                instant: true
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
                useBackend: false
            - refId: B
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0
                            - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                expression: $A == 1
                hide: false
                intervalMs: 1000
                maxDataPoints: 43200
                refId: B
                type: math
          noDataState: NoData
          execErrState: Error
          for: 5m
          annotations:
            summary: 公网出口 {{ $labels.id }} 下线超过 5 分钟！
          isPaused: false
          notification_settings:
            receiver: grafana-default-email
