version: '3.6'
services:
  gitlab:
    image: gitlab/gitlab-ce:17.8.6-ce.0
    container_name: gitlab
    restart: always
    hostname: 'gitlab.example.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.example.com'
    ports:
      - '80:80'
      - '443:443'
      - '22:22'
    volumes:
      - '$GITLAB_HOME/config:/etc/gitlab'
      - '$GITLAB_HOME/logs:/var/log/gitlab'
      - '$GITLAB_HOME/data:/var/opt/gitlab'
    shm_size: '256m'


https://sub-store.sxxpqp.top/T3B9dgzBzdRbBF8Aqx71/download/collection/zuhe?target=ClashMeta