version: "3.8"

services:
  traefik:
    image: traefik:v2.9
    container_name: traefik
    restart: always
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=alidns"
      - "--certificatesresolvers.myresolver.acme.email=sxxpqp@gmail.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
      - "8082:8080"
    environment:
      - ALICLOUD_ACCESS_KEY=ssss
      - ALICLOUD_SECRET_KEY=sss
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./letsencrypt:/letsencrypt"
    networks:
      - custom_network
  chfs:
    image: naore/chfs:latest # 使用 naore/chfs 镜像
    container_name: chfs
    restart: always
    environment:
      - SHARE=/shared # 设置共享路径环境变量
    volumes:
      - ./data:/shared:rw # 挂载本地 data 文件夹到容器中的 /shared
      - ./chfs:/opt/chfs/chfs # 挂载本地 data 文件夹到容器中的 /shared
      - ./chfs.conf:/opt/chfs/chfs.conf # 挂载本地 data 文件夹到容器中的 /shared
    command: >
      /opt/chfs/chfs -file /opt/chfs/chfs.conf
    ports:
      - "8080:80" # 将容器的 8080 端口映射到主机的 8080 端口
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.chfs.rule=Host(`chfs.sxxpqp.top`)" # 使用自定义域名
      - "traefik.http.routers.chfs.entrypoints=websecure"
      - "traefik.http.routers.chfs.tls.certresolver=myresolver"
    networks:
      - custom_network # 指定自定义网络

# 自定义网络定义
networks:
  custom_network:
    driver: bridge # 使用默认的 bridge 网络驱动
