version: '3.8'
services:
  registry:
    restart: always
    image: registry:2
    ports:
    - 5000:5000
    volumes:
    - /opt/data:/var/lib/registry
    - /opt/config.yml:/etc/distribution/config.yml