port: 7890
socks-port: 7891
allow-lan: true
mode: Rule
log-level: info
dns:
  enable: true
  listen: 0.0.0.0:53
  enhanced-mode: fake-ip
  nameserver:
    - 8.8.8.8
    - 1.1.1.1
    - 223.5.5.5
  fallback:
    - 114.114.114.114
    - 8.8.4.4
tun:
  enable: true
  stack: system # or gvisor
  dns-hijack:
    - 8.8.8.8:53
    - tcp://8.8.8.8:53
    - any:53
    - tcp://any:53
  auto-route: true # auto set global route
  auto-detect-interface: true # conflict with interface-name
external-controller: 0.0.0.0:9090
external-ui: /opt/opt/yacd